<!-- nav -->
<nav id="main-nav">
    <a href="/main" class="nav-link">Home</a>  |
    <a href="/events" class="nav-link">Events Hub</a> | 
    <a href="/survey" class="nav-link">Survey Assistance</a> |
    <a href="/logout" class="nav-link">Log Out</a> 
</nav>

<script src="/js/nav.js"></script>
